.careerContainer{
    display: flex;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
   
    .careerItem1, .careerItem2{
       height: 250px;
       width: 200px;
       margin: 10px;
       padding: 20px;
       .ul-time{
        display: block;
        text-align: center;
        text-decoration: none;
        padding: 2px 2px 2px 2px;
        background-color: #FDC022;
        font-size: 13px;
        color: #000000ea;
        width: 50%;
        font-weight: 500;
        margin: auto;
       }
       .full-time{
        display: none;
       }
        ul{margin-top: 130px;
            font-size: 15px;
            margin-bottom: 10px;
        .liTitle{
            font-size: 15px;
            color: #000000e7;
            font-weight: 500;
        }
        li{
            display: block;
            text-align: center;
            color: #4f4d4d;
        }}
        .new{
            img{
                width: 200px;
                height: auto;
                object-fit: cover;
                position: absolute;
                margin-bottom: 150px;
            }
            ul{
                display: none;
             li{
                display: none;
             }
            }
        }
       }

       .careerItem1:hover, .careerItem2:hover{
            background-color: #FDC022;
            margin: 10px;
            padding: 20px;
            height: 250px;
            display: block;
            transition: .5s ease-out;

            .full-time{
                display: block;
                text-align: center;
                text-decoration: none;
               }
               .ul-time{
                display: none;
               }
    
            ul{
                display: block;
                list-style: none;
                text-decoration: none;
                align-items: center;
                margin-top: 30px;
                margin-bottom: 0;
    
                li{
                    display: block;
                    color: white;
                    font-size: 14px;
                    font-weight: 300;
                }
            }
            .new{
               display: none;
               img{
                display: none;
               }
               ul{
                display: block;
                li{
                    display: block;
                }
               }
            }
        
    }
}

